.x-form-td {
    padding: 3px;
}

.x-form-buttons-row {
    padding-top: 10px;
    float: right;
}

.x-page-title {
    font-size: 14px;
    font-weight: bold;
    color: #428bca;
    padding-top: 5px;
    padding-left: 3px;
    padding-bottom: 5px;
}

input[type=text].jqx-input, input[type=password].jqx-input {
    padding-left: 3px;
    padding-right: 3px;
    background-color: rgba(255, 247, 0, 0.02);
}

/*.modal-open {
    margin-left:-16px;
}*/

.modal-backdrop.in {
    opacity: .2;
    background-color: black;
}

.bs-input .btn-default {
    background-color: #F5F5F5;
}

    .bs-input .btn-default:hover {
        background-color: #F0F0F0;
    }

/*изначально размер иконки был 14, исправляется на 16*/
.jqx-tree-grid-icon-size {
    width: 16px;
    height: 16px;
}

/*изначально размер иконки был 14, исправляется на 16*/
.jqx-tree-grid-indent {
    width: 16px;
    height: 16px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 4px;
}


table.fancytree-ext-table tbody tr.fancytree-selected {
    background-color: transparent;
}

table.fancytree-ext-table tbody tr:hover {
    background-color: transparent;
    outline: 1px solid transparent;
}

table.fancytree-ext-table tbody tr.fancytree-active, 
table.fancytree-ext-table tbody tr.fancytree-active:hover
{ 
    background-color: #F7F7F7 !important;
    outline: 0px solid transparent !important;
}

table.fancytree-ext-table tbody tr.fancytree-selected, 
table.fancytree-ext-table tbody tr.fancytree-selected:hover, 
table.fancytree-ext-table tbody tr.fancytree-selected .fancytree-title, 
table.fancytree-ext-table tbody tr.fancytree-selected:hover .fancytree-title {
    background-color: transparent;
    outline: 0px solid transparent;
    color:#428BCA;
}

table.fancytree-ext-table.fancytree-treefocus tbody tr.fancytree-active, 
table.fancytree-ext-table.fancytree-treefocus tbody tr.fancytree-active:hover {
  background-color: #F7F7F7;
  outline: 0px solid transparent;
}

table.fancytree-ext-table.fancytree-treefocus tbody tr.fancytree-selected {
  background-color: transparent;
}

span.fancytree-checkbox:hover {
    cursor: pointer;
}

.selectize-dropdown, .selectize-dropdown.form-control {
    z-index: 1100;
}


