@model BuhtaSchemaDesignerModel

@{
    ViewBag.Title = "Index";
}


@*<nav class=" navbar navbar-default navbar-fixed-top navbar-static-top1">
    <div class="container container-fluid1">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse">

            <form class="navbar-form navbar-left" role="search">
                <div href=# class="btn btn-default" id="aaaXXX">назад</div>
                <script>
                    $("#aaaXXX").on('click', function () {
                        if (window.opener) window.open('', window.opener.name).focus();
                    });</script>

            </form>



            <ul class="nav navbar-nav">
                <li><a href="#">Таблица</a></li>
                <li><a href="#columns">Колонки</a></li>
                <li><a href="#">Индексы</a></li>
                <li><a href="#links">Уроды</a></li>
                <li><a href="#">Индексы</a></li>
                <li><a href="#" id="qq">Отчеты</a></li>
            </ul>
            <script> $("#qq").on('click', function () { window.open('', 'parent').focus(); });</script>
            <form class="navbar-form navbar-right" role="search">

                @Html.bsButton(s =>
               {
                   //s.OnClick_Bind = nameof(Model.Test1ButtonClick);
                   s.Text = "Добавить";
                   s.Image = "Areas/BuhtaSchemaDesigner/Content/icon/button-insert.png";
                   s.ButtonStyle = bsButtonStyle.Default;
                   s.Size = bsButtonSize.Small;
               })

                @Html.bsButton(s =>
               {
                   s.Bind_OnClick(Model.OnChangeButtonClick);
                   s.Text = "Изменить";
                   s.Image = "Areas/BuhtaSchemaDesigner/Content/icon/button-update.png";
                   s.ButtonStyle = bsButtonStyle.Default;
                   s.Size = bsButtonSize.Small;
               })

                @Html.bsButton(s =>
               {
                   //s.OnClick_Bind = nameof(Model.Test1ButtonClick);
                   s.Text = "Удалить";
                   s.Image = "Areas/BuhtaSchemaDesigner/Content/icon/button-delete.png";

                   s.Size = bsButtonSize.Small;
                   s.ButtonStyle = bsButtonStyle.Default;
               })


            </form>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SQL<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>*@

<div class="container">
     <h3>
        @*<img src="~/Areas/BuhtaCore/Content/icon/schema-table.png" />*@
        Дизайнер схемы
    </h3>

    @Html.bsTree(tree =>
{


    tree.AddButtonToLeftToolbar(tag =>
    {
        tag.Role = bsTreeToolbarButtonRole.ExpandAll;
        tag.Text = "@<i class='fa fa-plus' style='color:rgba(248, 154, 20, 0.7)'></i>";
        //s.Image = "Areas/BuhtaSchemaDesigner/Content/icon/button-insert.png";
        //tag.ButtonStyle = bsButtonStyle.Default;
        tag.Size = bsButtonSize.Small;
    });

    tree.AddButtonToLeftToolbar(tag =>
    {
        tag.Role = bsTreeToolbarButtonRole.CollapseAll;
        tag.Text = "@<i class='fa fa-minus' style='color:rgba(248, 154, 20, 0.7)'></i>";
        //s.Image = "Areas/BuhtaSchemaDesigner/Content/icon/button-insert.png";
        //tag.ButtonStyle = bsButtonStyle.Default;
        tag.Size = bsButtonSize.Small;
    });

    tree.AddButtonToRightToolbar(tag =>
    {
        tag.Role = bsTreeToolbarButtonRole.Add;
        //s.OnClick_Bind = nameof(Model.Test1ButtonClick);
        tag.Text = "Новый объект";
        //s.Image = "Areas/BuhtaSchemaDesigner/Content/icon/button-insert.png";
        tag.AddClass("add-color");
        //tag.ButtonStyle = bsButtonStyle.Default;
        tag.Size = bsButtonSize.Small;
    });

    tree.AddButtonToRightToolbar(tag =>
    {
        tag.Role = bsTreeToolbarButtonRole.Edit;
        //s.OnClick_Bind = nameof(Model.Test1ButtonClick);
        tag.Text = "Изменить";
        //s.Image = "Areas/BuhtaSchemaDesigner/Content/icon/button-insert.png";
        tag.AddClass("edit-color");
        //tag.ButtonStyle = bsButtonStyle.Default;
        tag.Bind_OnClick(Model.OnRowDoubleClick);

        tag.Size = bsButtonSize.Small;
    });

    tree.AddButtonToRightToolbar(tag =>
    {
        tag.Role = bsTreeToolbarButtonRole.Delete;
        //s.OnClick_Bind = nameof(Model.Test1ButtonClick);
        tag.Text = "Удалить";
        //s.Image = "Areas/BuhtaSchemaDesigner/Content/icon/button-insert.png";
        tag.AddClass("delete-color");
        //tag.ButtonStyle = bsButtonStyle.Default;
        tag.Size = bsButtonSize.Small;
    });


    tree.AddColumn(c =>
    {
        c.Caption = "Объект конфигурации";
        c.Field_Bind = "Name";
        c.AddStyle("color", "red");
        c.AddClass("cls12");
        c.CellTemplateJS = @"
 if (row.node.children) {
   row._ee=' ('+row.node.children.length.toString()+')'
   row._fontWeight='bold'
 }
 else
   row._fontWeight='normal';
";

        c.CellTemplate = "<span style='font-weight:{{_fontWeight}}'>{{Name}}</span>{{_ee}}";
    });

    tree.AddColumn(c =>
    {
        c.Hidden = true;
        c.Field_Bind = "RootClass";

    });

    tree.AddColumn(c =>
    {
        c.Caption = "Тип";
        c.Field_Bind = "RootType";
        c.AddStyle("color", "blue");
        c.AddClass("type-1");

    });

    tree.AddColumn(c =>
    {
        c.Caption = "ID";
        c.Field_Bind = "ID";
        c.CellTemplate = "<small style='opacity:0.3'>{{ID}}, {{RootClass}}</small>";

    });
    tree.Bind_DataSource_To_SqlDataView(
        datasourceModelPropertyName:nameof(Model.SchemaObjectList),
        displayFieldName:"Name",
        keyFieldName: "ID",
        parentFieldName : "ParentObjectID"
    );

    //tree.SelectedRows_Bind = nameof(Model.SelectedRows);

    tree.Bind_OnRowDblClick(Model.OnRowDoubleClick);
    tree.Bind_OnRowActivate(Model.OnRowActivate);

})
</div>


