@model AppNavBarModel

@{
    ViewBag.Title = "Index";
}


@Html.bsAppNavBar((navbar) =>
{
    navbar.AddButtonToLeftToolbar((tag) =>
    {
        tag.Text = "@рабочий<br>стол";
        tag.Image = "~/Areas/BuhtaCore/Content/icon/app-navbar-desktop.png";
    });

    navbar.AddButtonToLeftToolbar((tag) =>
    {
        // tag.Text = "@открытые<br>окна";
        tag.UniqueId = "870D2DE34A194250921C33FD936C14FF";
        tag.Bind_Text(Model.GetOpenWindowsLabel);
        tag.Image = "~/Areas/BuhtaCore/Content/icon/app-navbar-windows2.png";
    });

    navbar.AddButtonToLeftToolbar((tag) =>
    {
        tag.Text = "настройка";
        tag.Image = "~/Areas/BuhtaCore/Content/icon/app-navbar-setup.png";
    });

    navbar.AddButtonToLeftToolbar((tag) =>
    {
        tag.Text = "@дизайнер<br>конфигур.";
        tag.Image = "~/Areas/BuhtaCore/Content/icon/app-navbar-schema.png";
        tag.Bind_OnClick(Model.OpenSchemaDesigner);
    });

    navbar.AddButtonToLeftToolbar((tag) =>
    {
        tag.Text = "@список<br>задач";
        tag.Image = "~/Areas/BuhtaCore/Content/icon/app-navbar-tasks.png";
    });

    navbar.AddButtonToRightToolbar((tag) =>
    {
        tag.Text = "@блокировка<br>экрана";
        tag.Image = "~/Areas/BuhtaCore/Content/icon/app-navbar-applock.png";
    });

    navbar.AddButtonToRightToolbar((tag) =>
    {
        tag.Text = "@завершить<br>работу";
        tag.Image = "~/Areas/BuhtaCore/Content/icon/app-navbar-exit.png";
    });
})


@*<nav class="navbar navbar-default">
    <div class="container container-fluid1" style="padding-left:0px;padding-right:0px">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse">

            <ul class="nav navbar-nav app-navbar">
                <li>
                    <a href="javascript:void(0)" data-toggle="search">
                        <img src="~/Areas/BuhtaCore/Content/icon/app-navbar-desktop.png" height="30" />
                        <p>рабочий<br>стол</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Areas/BuhtaCore/Content/icon/app-navbar-windows2.png" height="30" />
                        <p>открытые<br>окна</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Areas/BuhtaCore/Content/icon/app-navbar-setup.png" height="30" />
                        <p>настройка</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Areas/BuhtaCore/Content/icon/app-navbar-schema.png" height="30" />
                        <p>Дизайнер<br>конфигур.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Areas/BuhtaCore/Content/icon/app-navbar-tasks.png" height="30" />
                        <p>Список<br>задач</p>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav app-navbar pull-right">
                <li >
                    <a href="#" style="text-align:right">
                        <span class="org-name">ООО Бухта и рога или копыта</span>
                        <span class="user-name">Константин Савченков</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Areas/BuhtaCore/Content/icon/app-navbar-applock.png" height="30" />
                        <p>Блокировка<br>экрана</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Areas/BuhtaCore/Content/icon/app-navbar-exit.png" height="30" />
                        <p>Завершить<br>работу</p>
                    </a>
                </li>
            </ul>
            <script> $("#qq").on('click', function () { window.open('', 'parent').focus(); });</script>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>*@




