@model SelectSchemaRolesDialogModel
<div class="modal" data-width="1000" tabindex="-1" role="dialog">
    @*<div class="modal-dialog">
        <div class="modal-content">*@
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Выберите роли</h4>
    </div>
    <div class="modal-body">
        @Html.bsNewTree(tree =>
   {
       tree.AddColumn(c =>
       {
           c.Caption = "Роль";
           c.Field_Bind = nameof(SchemaBaseRole.Name);
           c.AddStyle("color", "red");
           c.AddClass("cls12");
           //           c.CellTemplateJS = @"
           // if (row.node.children) {
           //   row._ee=' ('+row.node.children.length.toString()+')'
           //   row._fontWeight='bold'
           // }
           // else
           //   row._fontWeight='normal';
           //";

           //           c.CellTemplate = "<span style='font-weight:{{_fontWeight}}'>{{Name}}</span>{{_ee}}";
       });

       tree.AddColumn(c =>
       {
           c.Caption = "Описание";
           c.Field_Bind = nameof(SchemaBaseRole.Description);

       });

       //tree.AddColumn(c =>
       //{
       //    c.Caption = "ID";
       //    c.Field_Bind = "ID";
       //    c.CellTemplate = "<small style='opacity:0.3'>{{ID}}, {{RootClass}}</small>";

       //});

       //tree.Bind_DataSource_To_SqlDataView(nameof(Model.SchemaObjectList), "Name", "ID", "ParentObjectID", null, nameof(Model.SelectedRows));
       tree.Bind_DataSource_To_ToSchemaRoles(nameof(Model.SelectedRows));
       tree.Bind_OnRowSelect(Model.RowSelect);

       //tree.SelectedRows_Bind = nameof(Model.SelectedRows);

       //tree.OnRowDoubleClick_Bind = nameof(Model.OnRowDoubleClick);

       //tree.OnRowActivate_Bind = nameof(Model.OnRowActivate);

   })
    </div>
    <div class="modal-footer">
        @Html.bsButton(button =>
   {
       button.Text = "   Ok   ";
       button.ButtonStyle = bsButtonStyle.Success;
       button.Bind_Disabled(() => Model.NeedSave);
       button.Bind_OnClick(Model.OkButtonClick);
   })
        @Html.bsButton(button =>
   {
       button.Text = "Отмена";
       button.ButtonStyle = bsButtonStyle.Default;
       button.Bind_OnClick(Model.CancelButtonClick);
   })

    </div>
    @*</div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->*@
</div><!-- /.modal -->