.textcolor-keyfield {
    color:#F89A14
}

.textcolor-datetime {
    color:#418BCA
}

.textcolor-schemarole ,
.fancytree-title.textcolor-schemarole {
    color:#99389f
}

.textcolor-add {
    color: #01BC8C;
}

.textcolor-edit {
    color: #418BCA;
}

.textcolor-delete {
    color: #EF6F6C;
}

.textcolor-description {
    color: #D01585;
}

.backcolor-sql-editor {
    background-color: rgba(255, 210, 88, 0.06) !important;
}
