@model SchemaDesignerModel

@{ Layout = "~/MODULES/BUHTA/CORE/SHARED/_Layout.cshtml"; }

<script>
    window._buhtaModelBindingId = "@Model.BindingId";
</script>

<div class="container">
    <h3>
        <img src="~/MODULES/BUHTA/CORE/Content/icon/app-navbar-schema.png" />
        Дизайнер схемы
    </h3>

    @Html.bsTree(tree =>
{
    tree.IsShowTextFilter = true;

    tree.AddButtonToLeftToolbar(tag =>
    {
        tag.Role = bsTreeToolbarButtonRole.ExpandAll;
        tag.Text = "@<i class='fa fa-plus' style='color:rgba(248, 154, 20, 0.7)'></i>";
        //s.Image = "Areas/BuhtaSchemaDesigner/Content/icon/button-insert.png";
        //tag.ButtonStyle = bsButtonStyle.Default;
        tag.Size = bsButtonSize.Small;
    });

    tree.AddButtonToLeftToolbar(tag =>
    {
        tag.Role = bsTreeToolbarButtonRole.CollapseAll;
        tag.Text = "@<i class='fa fa-minus' style='color:rgba(248, 154, 20, 0.7)'></i>";
        //s.Image = "Areas/BuhtaSchemaDesigner/Content/icon/button-insert.png";
        //tag.ButtonStyle = bsButtonStyle.Default;
        tag.Size = bsButtonSize.Small;
    });

    tree.AddButtonToRightToolbar(tag =>
    {
        tag.Role = bsTreeToolbarButtonRole.Add;
        //s.OnClick_Bind = nameof(Model.Test1ButtonClick);
        tag.Text = "Новый объект";
        //s.Image = "Areas/BuhtaSchemaDesigner/Content/icon/button-insert.png";
        tag.AddClass("add-color");
        //tag.ButtonStyle = bsButtonStyle.Default;
        tag.Bind_OnClick(Model.OnCreateNewObjectButtonClick);
        tag.Size = bsButtonSize.Small;
    });

    tree.AddButtonToRightToolbar(tag =>
    {
        tag.Role = bsTreeToolbarButtonRole.Edit;
        //s.OnClick_Bind = nameof(Model.Test1ButtonClick);
        tag.Text = "Изменить";
        //s.Image = "Areas/BuhtaSchemaDesigner/Content/icon/button-insert.png";
        tag.AddClass("edit-color");
        //tag.ButtonStyle = bsButtonStyle.Default;
        tag.Bind_OnClick(Model.OnRowDoubleClick);

        tag.Size = bsButtonSize.Small;
    });

    tree.AddButtonToRightToolbar(tag =>
    {
        tag.Role = bsTreeToolbarButtonRole.Delete;
        //s.OnClick_Bind = nameof(Model.Test1ButtonClick);
        tag.Text = "Удалить";
        //s.Image = "Areas/BuhtaSchemaDesigner/Content/icon/button-insert.png";
        tag.AddClass("delete-color");
        //tag.ButtonStyle = bsButtonStyle.Default;
        tag.Size = bsButtonSize.Small;
    });


    tree.AddColumn(c =>
    {
        c.Caption = "Объект конфигурации";
        c.Field_Bind = "Name";
        c.CellTemplateJS = @"
if (row.node.parent.parent==null) {
  row._colorCls='color:#980000;';
  row._ee=' ('+row.node.children.length.toString()+')';
  row._fontWeight='bold';
}
else
if (row.node.children) {
  row._colorCls='';
  row._ee=' ('+row.node.children.length.toString()+')';
  row._fontWeight='bold';
}
else
{
  row._colorCls='';
  row._fontWeight='normal';
}
";

        c.CellTemplate = "<span style='{{_colorCls}} font-weight:{{_fontWeight}}'>{{Name}}</span>{{_ee}}";
    });

    tree.AddColumn(c =>
    {
        c.Hidden = true;
        c.Field_Bind = "RootClass";

    });

    tree.AddColumn(c =>
    {
        c.Caption = "Тип";
        c.Field_Bind = "RootType";

    });

    tree.AddColumn(c =>
    {
        c.Caption = "Описание";
        c.Field_Bind = "Description";
        c.AddStyle("color","#D01585");

    });

    tree.AddColumn(c =>
    {
        c.Hidden = true;
        c.Caption = "ID";
        c.Field_Bind = "ID";
        c.CellTemplate = "<small style='opacity:0.3'>{{ID}}, {{RootClass}}</small>";

    });

    tree.Bind_DataSource_To_SqlDataView(
        datasourceModelPropertyName: nameof(Model.SchemaObjectList),
        displayFieldName: "Name",
        keyFieldName: "ID",
        parentFieldName: "ParentObjectID"
    );

    //tree.SelectedRows_Bind = nameof(Model.SelectedRows);

    tree.Bind_OnRowDblClick(Model.OnRowDoubleClick);
    tree.Bind_OnRowActivate(Model.OnRowActivate);

})
</div>


